footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #04838f;
  padding: 10px;
  color: #fff;
  width: calc(100% - 20px);
}

a {
  margin: 0 10px;
  color: #fff;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

span{
  margin: 0 10px;
}
